@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
/*
  #4a4a4a Texto del menú
#3CDBC0 (Color de fondo de la página)
#FFFFFF (Color de texto de "Creando diversidad digital")*/
* {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0%;
    box-sizing: border-box;
  }
  body {
    text-align: center;
  }
  
  .header {
    background-color: coral;
    position: fixed;
    width: 100%;
  }
  .header.content-header.links-list {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
  }
  
  .logo-adalab {
    max-width: 155px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .link {
    text-transform: uppercase;
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 13px;
  }
  h1,
  h2,
  h3 {
    font-size: 30px;
    text-transform: capitalize;
    color: #ffffff;
  }
  
  .main {
    background-color: #3cdbc0;
    padding-top: 50vh;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*mediaqueries*/
  @media screen and (min-width: 768px) {
    .header {
      display: none;
      align-items: baseline;
    }
  }
  